.table {
    width: 100%;
}

table {
    width: 100%;
}

table, th, td {
    margin: 0;
    padding: 0;
    border: 2px solid black;
    border-collapse: collapse;
}

td, th {
    width: 25%;
    text-align: center;
}

th {
    height: 6rem;
    line-height: 1.6rem;
    font-size: 2.4rem;
}

td {
    height: 4rem;
    line-height: 1.2rem;
    font-size: 1.8rem;
}