.buttons-container {
    display: flex;
    justify-content: center;
    margin: 3.2rem 0;
}

.buttons-container a {
    width: 22rem;
    height: 8.5rem;
    border-radius: 0.7rem;
    font: 700 3.6rem Archivo;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    text-decoration: none;
    color: var(--color-button-text);

    transition: background-color 0.2s;
}

.buttons-container a.alunos,
.buttons-container a.livros {
    background: var(--color-primary);
    font-size: 5.8rem;
}

.buttons-container a.alunos:hover,
.buttons-container a.livros:hover {
    cursor: pointer;
    background: var(--color-primary-dark);
}

.buttons-container a:first-child{
    margin-right: 2rem;
}

.buttons-container a img {
    margin-left: 0.6rem;
    width: 5.4rem;
}

.buttons-container .dropdown-content-alunos {
    display: none;
    position:relative;
    z-index: 1;
}

.buttons-container .dropdown-content-alunos a {
    text-decoration: none;
    border: 1px solid black;
    background: var(--color-secondary);
    width: 22rem;
    height: 8.5rem;
    display: block;
}

.buttons-container .dropdown-content-livros {
    display: none;
    position:relative;
    z-index: 1;
}

.buttons-container .dropdown-content-livros a {
    text-decoration: none;
    border: 1px solid black;
    background: var(--color-secondary);
    width: 22rem;
    height: 8.5rem;
    display: block;
}

.buttons-container .dropdown-content-livros a:first-child {
    margin-bottom: 1px;
}

.dropdown-alunos:hover .dropdown-content-alunos {
    margin-top: 0.5px;
    position: absolute;
    display: block;
  }

.dropdown-alunos .dropdown-content-alunos a:hover {
    background: var(--color-secondary-dark);
}

.dropdown-livros:hover .dropdown-content-livros {
    margin-top: 0.5px;
    position: absolute;
    display: block;
}

.dropdown-livros .dropdown-content-livros a:hover {
    background: var(--color-secondary-dark);
}

.buttons-container .dropdown-content-alunos a:first-child {
    margin-bottom: 1px;
}

@media (min-width: 700px) {
    .buttons-container a {
        width: 30rem;
        height: 10rem;
    }
}