.btn-logout {
  width: 22rem;
  height: 8.5rem;
  border-radius: 0.7rem;
  font: 700 2.5rem Archivo;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  text-decoration: none;
  color: var(--color-button-text);

  width: 10rem;
  height: 3.6rem;
  background: var(--color-title-in-secondary);

  transition: background-color 0.6s;
}

.btn-logout:hover {
  background: var(--color-title-in-secondary-dark);
}