table {
    width: 100%;
}

table, th, td {
    margin: 0;
    padding: 0;
    border: 2px solid black;
    border-collapse: collapse;
}

td, th {
    width: 16%;
    text-align: center;
}

th {
    height: 6rem;
    line-height: 1.6rem;
    font-size: 2rem;
}

td {
    height: 4rem;
    line-height: 1.2rem;
    font-size: 1.8rem;
}

#main-div main a.link-btn {
    color: var(--color-title-in-primary);
    text-decoration: none;
    font-weight: bold;
    font-size: 2.2rem;
    margin-left: 1.2rem;
}